@use "sass:math";
@use "../../abstracts" as *;

.blog-post-small-link {
	display: flex;
	align-items: center;
	padding: .75rem;
	column-gap: 1.5rem;
	border-radius: 8px;
	transition: background-color 0.2s linear;

	@include maxw-mq(60em) {
		column-gap: 1rem;
	}

	&:hover {
		background-color: var(--clr-neutral-0);
	}
}

.blog-post-small-picture {
	max-width: 6.25rem;
	max-height: 6.25rem;
	border-radius: 8px;
}

.blog-post-small-title {
	margin-bottom: .25rem;
}

.blog-post-small-description {
	font-size: .875rem;
	line-height: 1.6;
}