@use "sass:math";
@use "../../abstracts" as *;

.integrations__logos {
	row-gap: 1rem;
	margin-bottom: 2rem;

	@include minw-mq(75em) {
		margin-bottom: 4rem;
	}
}

.integrations__logos-line-list {
	display: flex;
	justify-content: start;
	column-gap: 1rem;
}

.integrations__text {
	display: grid;
	align-items: end;
	column-gap: 4rem;

	@include minw-mq(55em) {
		grid-template-columns: repeat(2, auto);
	}

	@include minw-mq(75em) {
		column-gap: 10.0625rem;
	}

}

.integrations__text-left {
	max-width: 33.75rem;
}

.integrations__description {
	@include minw-mq(55em) {
		margin-bottom: 0;
	}
}

.integrations__feature {
	@include minw-mq(55em) {
		display: grid;
		align-items: center;
		min-height: 40px;
	}
}