@use "sass:math";
@use "../abstracts" as *;

.border-card {
	padding: 1rem;
	border: 2px solid #e8e8e8;
	border-radius: 16px;

	@include minw-mq(75em) {
		padding: 2rem;
	}
}

.contact-card {
	padding-left: 4.625rem;
	min-height: 50px;
	background-position: center left;
}
