@use "sass:math";
@use "../abstracts" as *;

.section-tag {
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2;
	letter-spacing: -.03em;
	margin-bottom: .5rem;

	&--big-space {
		margin-bottom: 1rem;
	}

	@include minw-mq(55em) {
		font-size: 1.25rem;
	}
}

.tag {
	display: inline-block;
	font-family: 'Inter';
	font-size: .8125rem;
	line-height: 1.8;
	letter-spacing: 0;
	background-color: var(--clr-neutral-100);
	border-radius: 4px;
	padding: .25rem .625rem;
}

.popular-pseudo {
	&::after {
		content: 'Popular';
		left: 100%;
		font-family: 'Inter';
		font-size: .75rem;
		line-height: 1.8;
		letter-spacing: 0;
		color: var(--clr-primary-400);
		background-color: var(--clr-primary-100);
		border-radius: 4px;
		margin-left: .5rem;
		padding: 0 .375rem;
	}
}