@use "sass:math";
@use "../abstracts" as *;

.section-description {
	font-size: 1rem;
	margin-bottom: 2rem;

	@include minw-mq(55em) {
		font-size: 1.25rem;
	}

	&--big {
		@include minw-mq(65em) {
			font-size: 1.5rem;
		}
	}

	&--small {
		@include minw-mq(55em) {
			font-size: 1.125rem;
		}
	}
}

.contact-value {
	margin-bottom: 0;
	color: var(--clr-neutral-0);
	-webkit-text-fill-color: initial;

	@include minw-mq(75em) {
		margin-bottom: 0.25rem;
	}
}

.contact-description {
	font-size: 0.875rem;
}
