@use "sass:math";
@use "../../../abstracts" as *;

.accounts-link-description {
	font-size: 0.875rem;
	margin-block: 0.25rem math.div(16em, 14);
}

.accounts-link-picture {
	max-width: 242px;
	max-height: 145px;
	border-radius: 7.25px;
}
