@use "sass:math";
@use "../../../abstracts" as *;

.accounts-card {
	display: grid;
	justify-content: center;
}

.accounts-card__wrapper {
	display: grid;
	max-width: 357px;
}

.accounts-card-title {
	display: inline-flex;
	justify-content: center;
	margin-bottom: 0.7rem;

	@include minw-mq(75em) {
		margin-bottom: 1.5rem;
	}
}

.accounts-card-price-value {
	font-family: "DM Sans";
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 1;
	color: var(--clr-neutral-900);
	margin-right: 4px;
}
