@use "sass:math";
@use "../../abstracts" as *;

.transactions-green {
	background-color: var(--clr-primary-100);
	padding-block: 2rem;
	overflow: hidden;
}

.transactions-green__inner {
	display: flex;

	column-gap: 4rem;

	@include minw-mq(75em) {
		column-gap: 8.75rem;
	}
}

.transactions-green__text {
	max-width: 35rem;

	@include minw-mq(55em) {
		padding-top: 6rem;
		max-width: ratio(560%, 1200);
	}
}

.transactions-green__image {
	transform: translateY(60px);
}