@use "sass:math";
@use "../../../abstracts" as *;

.intro-small {
	background-color: var(--clr-primary-100);
	padding-top: 3rem;
	margin-top: 1.5rem;

	@include minw-mq(55em) {
		padding-top: 6.5rem;
	}
}

.intro-small__inner {
	display: grid;
	justify-content: center;
	gap: 2rem 5.375rem;

	@include minw-mq(55em) {
		display: flex;
	}
}

.intro-small__text {
	text-align: center;

	@include minw-mq(55em) {
		width: 50%;
		text-align: left;
	}
}

.intro-small__title {
	max-width: 500px;
}

.intro-small__image {
	display: grid;
	justify-content: center;
}
