$color-palette: (
	s: (
		clr-primary: (

		),
		clr-neutral: (

		),
	),
);

$colors: (
	clr-primary: (
		clr-primary: (
			color: (),
		),
	),
	clr-neutral: (
		clr-neutral: (
			color: (),
		),
	),
);

$fills: (
	fill-primary: (
		clr-primary: (
			fill: (),
		),
	),
	fill-neutral: (
		clr-neutral: (
			fill: (),
		),
	),
);