@mixin minw-mq($value) {
	@media only screen and (min-width: $value) {
		@content;
	}
}

@mixin maxw-mq($value) {
	@media only screen and (max-width: $value) {
		@content;
	}
}

@mixin hover-lift($transition: transform 350ms ease-in-out) {
	transition: $transition;

	@include pseudo($loc: before) {
		box-shadow: 0 0 1.25em 0 rgba(black, 0.4);
		transition: $transition;
		opacity: 0;
	}

	&:hover,
	&:focus-visible {
		&::before {
			opacity: 1;
		}
	}
}

@mixin varGenerator($var) {
	@each $key, $properties in $var {
		@each $property, $value in $properties {
			--#{$key}-#{$property}: #{$value};
		}
	}
}

@mixin icon($className) {
	.#{$className} {
		background: url("/assets/images/#{$className}.svg") no-repeat;
	}
}
