@use "sass:math";
@use 'functions' as *;

$space-scale: (
	s: (
		sp: (
			0: 0,
			p: 1em,
			b--narrow: .8em math.div(12em, 14), 
		),
	),
	m: (
		sp: (
			b--narrow: .8em math.div(16em, 15),
		),
	),
	l: (
		sp: (
			section: 10rem,
		),
	),
);

// $margin-tops: (
// 	mt: (
// 		sp: (
// 			margin-top: (0),
// 		),
// 	),
// );

// $margin-bottoms: (
// 	mb: (
// 		sp: (
// 			margin-bottom: (),
// 		),
// 	),
// );