@use "sass:math";
@use 'functions' as *;

$space-scale: (
	s: (
		sp: (
			0: 0,
			p: 1em,
		),
	),
	m: (
		sp: (

		),
	),
	l: (
		sp: (
			section: 10rem,
		),
	),
);

$margin-tops: (
	mt: (
		sp: (
			margin-top: (0),
		),
	),
);

$margin-bottoms: (
	mb: (
		sp: (
			margin-bottom: (),
		),
	),
);