$type-scale: (
	s: (
		fs: (

		),
	),
	m: (
		fs: (

		),
	),
	l: (
		fs: (

		),
	),
);

$font-size: (
	fs: (
		fs: (
			font-size: (),
		),
	),
);

$text-aligns: (
	tac: (text-align: center),
	tal: (text-align: left),
)