$type-scale: (
	s: (
		fs: (

		),
	),
	m: (
		fs: (
			100: .75rem,
			200: .875rem,
			300: 1rem,
			400: 1.125rem,
			500: 1.25rem, //h5
			600: 1.5rem,
			700: 1.75rem, //h4
			800: 2.5rem,
			900: 4rem, //h3
			1000: 5rem, //h2
			1100: 6.25rem, //h1
		),
	),
	l: (
		fs: (

		),
	),
);

$font-size: (
	fs: (
		fs: (
			font-size: (100, 200, 300, 400, 500, 600),
		),
	),
);

$text-aligns: (
	tac: (text-align: center),
	tal: (text-align: left),
)