@use "sass:math";
@use "../../abstracts" as *;

.help__inner {
	align-items: start;
	gap: 2rem 0;
}

.help__title {
	margin-bottom: 2rem;

	@include minw-mq(75em) {
		margin-bottom: 3rem;
	}
}

.help__contacts {
	display: grid;
	row-gap: 1rem;
	margin-bottom: 2rem;

	@include minw-mq(75em) {
		row-gap: 2rem;
		margin-bottom: 3rem;
	}
}

.help__faq-list {
	display: grid;
	row-gap: 1rem;

	@include minw-mq(75em) {
		row-gap: 2rem;
	}
}

.help__faq-list-item {
	border-bottom: 1px solid var(--clr-neutral-200);
}
