@use "sass:math";
@use "../../abstracts" as *;

.help-all-questions__inner {
	display: flex;
	column-gap: 8rem;
}

.help-all-questions__inner .tags-sidebar__list {
	display: none;

	@include minw-mq(55em) {
		display: block;
		width: ratio(280%, 1200);
		background-color: var(--clr-neutral-100);
		margin-bottom: auto;
		padding: 2rem;
		border-radius: 10px;
	}
}

.help-all-questions__inner .help-faq__list {
	width: 100%;
	row-gap: 4rem;

	@include minw-mq(55em) {
		width: ratio(792%, 1200);
		row-gap: 8rem;
	}
}
