@use "sass:math";
@use '../abstracts' as *;

.button {
	display: inline-flex;
	padding: .8rem .5rem;
	border-radius: 6px;
	cursor: pointer;

	@include minw-mq(30em) {
		padding: 1rem 1.5rem;
	}
}

.button-primary {
	font-family: 'DM Sans';
	background-color: var(--clr-primary-400);
	color: var(--clr-neutral-0);
	transition: background 0.2s linear;

	&:hover {
		background-color: var(--clr-primary-500);
	}

	&--narrow {
		padding: .75rem 1rem;
	}
}

.button-menu {
	cursor: pointer;
	background: transparent;
	border: 0;
}