@use "sass:math";
@use '../abstracts' as *;

.button {
	display: inline-flex;
	font-family: 'DM Sans';
	padding: .8rem .5rem;
	border-radius: 6px;
	cursor: pointer;
	// transition: background 0.2s linear;

	@include minw-mq(30em) {
		padding: 1rem 1.5rem;
	}
}

.button-primary {
	background-color: var(--clr-primary-400);
	color: var(--clr-neutral-0);

	// &:hover {
	// 	background-color: var(--clr-primary-500);
	// }

	&--narrow {
		padding: .75rem 1rem;
	}
}

.button-secondary {
	background-color: var(--clr-neutral-0);
	color: var(--clr-neutral-900);
	border: 2px solid var(--clr-neutral-200);
	
	// &:hover {
	// 	background-color: var(--clr-primary-500);
	// }
}

.button-menu {
	cursor: pointer;
	background: transparent;
	border: 0;
}