@use "sass:math";
@use "../abstracts" as *;

.link-primary {
	font-family: 'DM Sans';
	color: var(--clr-primary-400);
	padding: .5rem .75rem;
	border-radius: 6px;
	transition: background 0.2s linear;

	&:hover {
		background-color: var(--clr-primary-100);
	}

	&--arrow {
		padding: 0 2rem 0 0;
		background: url(./assets/images/arrow.svg) no-repeat right .25rem center;

		&:hover {
			background: url(./assets/images/arrow.svg) transparent no-repeat right 0 center;
		}
	}
}

.link-dropdown {
	background: url(./assets/images/dropdown-arrow.svg) no-repeat right .75rem center;

	@include maxw-mq(55em) {
		background: none;
	}
}