@use "sass:math";
@use "../abstracts" as *;

.section__features {
	display: grid;
	align-items: center;
	gap: 1rem;

	&--big {
		@include minw-mq(75em) {
			gap: 2rem;
		}
	}

	&--small {
		gap: .75rem;
	}
}