@use "sass:math";
@use "../abstracts" as *;

.section__features {
	display: grid;
	align-items: center;
	gap: 1rem;

	&--big {
		@include minw-mq(75em) {
			gap: 2rem;
		}
	}

	&--small {
		gap: .75rem;
	}
}

.section__feature {
	min-height: 26px;
	padding-left: 2.625rem;
	background: url("/assets/images/list-check.svg") no-repeat center left;

	&--big {
		@include minw-mq(55em) {
			padding-left: 3.5rem;
			background: url("/assets/images/list-check-big.svg") no-repeat center left;
		}
	}

	&--small {
		@include minw-mq(55em) {
			font-size: 1rem;
		}
	}

	&--primary {
		background: url("/assets/images/list-check-primary.svg") no-repeat center left;
	}

	&--banner {
		background: url("/assets/images/list-check-banner.svg") no-repeat center left;
	}
}