@use "sass:math";
@use "../abstracts" as *;

.popular {
	display: inline-flex;
	align-items: center;

	&::after {
		content: 'Popular';
		left: 100%;
		font-family: 'Inter';
		font-size: .75rem;
		line-height: 1.8;
		letter-spacing: 0;
		color: var(--clr-primary-400);
		background-color: var(--clr-primary-100);
		border-radius: 4px;
		margin-left: .5rem;
		padding-inline: .375rem;
	}
}