@use "sass:math";
@use "../abstracts" as *;

.section__description {
	font-size: 1rem;
	margin-bottom: 2rem;

	@include minw-mq(55em) {
		font-size: 1.25rem;
	}

	&--big {
		@include minw-mq(65em) {
			font-size: 1.5rem;
		}
	}

	&--small {
		@include minw-mq(55em) {
			font-size: 1.125rem;
		}
	}
}

.section__feature {
	padding-left: 2.625rem;
	background: url("./assets/images/list-check.svg") no-repeat center left;

	&--big {
		padding-left: 3.5rem;
		background: url("./assets/images/list-check-big.svg") no-repeat center left;
	}

	&--primary {
		background: url("./assets/images/list-check-primary.svg") no-repeat center left;
	}
}

.section__tag {
	font-size: 1rem;
	line-height: 1.2;
	letter-spacing: -.03em;

	@include minw-mq(55em) {
		font-size: 1.25rem;
	}
}