@use "sass:math";
@use "../../../abstracts" as *;

.features-card {
	flex-direction: column;
	background-color: var(--clr-neutral-100);
	border-radius: 20px;
	container-type: inline-size;

	@include minw-mq(65em) {
		grid-column: span 2;
	}

	&:nth-child(-n + 2) {
		@include minw-mq(65em) {
			grid-column: span 3;
		}
	}
}

.features-card__text {
	display: grid;
	text-align: center;
	justify-items: center;
	padding: 3.5rem 2.9375rem 0 2.9375rem;

	@include minw-mq(65em) {
		text-align: left;
		justify-items: start;

		@container (min-width: 23.75em) {
			text-align: center;
			justify-items: center;
			padding-inline: 5.625rem;
		}
	}
}

.features-card__title {
	max-width: 10rem;
}

.features-card__description {
	margin-top: 0.5rem;

	@container (min-width: 21.875em) {
		margin-bottom: 3.625rem;
	}

	@container (min-width: 23.75em) {
		margin-bottom: 3.25rem;
	}
}

.features-card__image {
	display: grid;
	justify-content: center;
	padding-inline: 2.5rem;
	height: 220px;
	overflow: hidden;
	margin-top: auto;
	border-radius: 0 0 20px 20px;

	@container (min-width: 21.875em) {
		height: 265px;
	}

	@container (min-width: 23.75em) {
		height: 275px;
	}

	&--cards-card,
	&--integrations-card {
		padding-inline: 0;
	}

	// &--cards-card img,
	// &--integrations-card img {
	// 	object-fit: none;
	// }

	&--integrations-card,
	&--organizer-card {
		margin-bottom: 2rem;

		@container (min-width: 21.875em) {
			margin-bottom: 0;
		}
	}

	&--organizer-card {
		padding-inline: 2.9735rem 0;

		@container (min-width: 23.75em) {
			padding: 0;
		}
	}

	&--cards-card img {
		height: 275px;
		width: 266px;

		@include minw-mq(25em) {
			width: auto;
		}
	}

	&--integrations-card img {
		height: 212px;
	}

	&--statistics-card img {
		padding-top: 1.3125rem;
	}

	&--organizer-card img {
		height: 219px;
		object-fit: none;
		object-position: left;
	}
}
