---
import TagsSidebar from "@components/TagsSidebar.astro"
import HelpFAQ from "./generic/HelpFAQ.astro"
---

<section class="help-all-questions">
	<div class="help-all-questions__inner container">
		<TagsSidebar />
		<HelpFAQ />
	</div>
</section>
