---
import SupportHotline from '../contacts/SupportHotline.astro';
import SupportEmail from '../contacts/SupportEmail.astro';
import SupportLink from '../../elements/links/SupportLink.astro';
import FAQBlock from './FAQBlock.astro';
import faq from '../../data/faq.js';
---

<section class="help">
	<div class="help__inner container even-columns">
		<div class="help__text">
			<h2 class="help__title h3">Need help?</h2>
			<div class="help__contacts">
				<SupportHotline/>
				<SupportEmail/>
			</div>
			<SupportLink/>
		</div>
		<ul role="list" aria-label="faq list" class="help__faq-list">
			{faq.map(qa => (
				<li class="help__faq-list-item">
					<FAQBlock qa = {qa}/>
				</li>
			))}
		</ul>
	</div>
</section>