---
import ContactsSupportEmail from "@components/contacts/ContactsSupportEmail.astro";
import ContactsSupportPhone from "@components/contacts/ContactsSupportPhone.astro";
import ContactsChatButton from "@components/contacts/ContactsChatButton.astro";
---

<section class="help-banner">
	<div class="help-banner__inner container">
		<div class="help-banner__text">
			<h2 class="help-banner__title h5">Still have questions?</h2>
			<p class="help-banner__description">We are here to help.</p>
		</div>
		<div class="help-banner__contacts">
			<ContactsSupportEmail />
			<ContactsSupportPhone />
			<ContactsChatButton />
		</div>
	</div>
</section>
