---
import ContactsSupportPhone from "@components/contacts/ContactsSupportPhone.astro"
import ContactsSupportEmail from "@components/contacts/ContactsSupportEmail.astro"
import HelpLink from "@components/help/HelpLink.astro"
import HelpFAQ from "@components/help/generic/HelpFAQ.astro"
---

<section class="help">
	<div class="help__inner container even-columns">
		<div class="help__text">
			<h2 class="help__title h3">Need help?</h2>
			<div class="help__contacts">
				<ContactsSupportPhone />
				<ContactsSupportEmail />
			</div>
			<HelpLink />
		</div>
		<HelpFAQ option="popular" />
	</div>
</section>
