---
import FeaturesLink from '../../elements/links/FeaturesLink.astro'
---

<section class="organizer">
	<div class="organizer__inner container">
		<div class="organizer__text">
			<span class="organizer__tag section-tag">Saving Accounts</span>
			<h2 class="organizer__title h3 mt-1">Organize your money the right way</h2>
			<p class="organizer__description section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<FeaturesLink/>
		</div>
		<ul role="list" aria-label="purchases list" class="organizer__purchases section-features section-features--big ai-start">
			<li class="organizer__purchase">
				<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
					<use href="#organizer-purchase-1"></use>
				</svg>
				<h4 class="purchase__title h6">New Laptop</h4>
				<span class="purchase__value text-muted">400$</span>
			</li>
			<li class="organizer__purchase">
				<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
					<use href="#organizer-purchase-2"></use>
				</svg>
				<h4 class="purchase__title h6">Dream bike</h4>
				<span class="purchase__value text-muted">200$</span>
			</li>
			<li class="organizer__purchase">
				<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
					<use href="#organizer-purchase-3"></use>
				</svg>
				<h4 class="purchase__title h6">Holiday</h4>
				<span class="purchase__value text-muted">14000$</span>
			</li>
			<li class="organizer__purchase dn minw55-db">
				<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
					<use href="#organizer-purchase-4"></use>
				</svg>
				<h4 class="purchase__title h6">Camera</h4>
				<span class="purchase__value text-muted">100$</span>
			</li>
			<li class="organizer__purchase">
				<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
					<use href="#organizer-purchase-5"></use>
				</svg>
			</li>
		</ul>
	</div>
</section>