<section class="transactions-app">
	<div class="transactions-app__inner container">
		<div class="transactions-app__text">
			<span class="transactions-app__tag section__tag">Transactions</span>
			<h2 class="transactions-app__title h3">Send & receive money instantly</h2>
			<p class="transactions-app__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			<ul role="list" aria-label="transactions features list" class="transactions-app section__features section__features--small">
				<li class="transactions-app section__feature section__feature--small">Malesuada Ipsum</li>
				<li class="transactions-app section__feature section__feature--small">Vestibulum</li>
				<li class="transactions-app section__feature section__feature--small">Parturient Lorem</li>
			</ul>
		</div>
		<div class="transactions-app__image">
			<img src="/assets/images/transactions-app.ong" alt="Transactions App" class="transactions-app__picture">
		</div>
	</div>
</section>