<section class="transactions-green">
	<div class="transactions-green__inner container">
		<div class="transactions-green__text">
			<h2 class="transactions-green__title h3">Send & receive money instantly</h2>
			<p class="transactions-green__description section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			<ul role="list" aria-label="money transfering feature list" class="transactions-green__features section-features section-features--small">
				<li class="transactions-green__feature section-feature section-feature--primary">Malesuada Ipsum</li>
				<li class="transactions-green__feature section-feature section-feature--primary">Vestibulum</li>
				<li class="transactions-green__feature section-feature section-feature--primary">Parturient Lorem</li>
			</ul>
		</div>
		<div class="transactions-green__image dn minw55-db">
			<img src="assets/images/transactions-green.png" alt="Transactions" class="transactions-green__picture">
		</div>
	</div>
</section>