<section class="app">
	<div class="app__inner container">
		<div class="app__text">
			<h2 class="app__title">One app. <br> One banking.</h2>
			<ul role="list" aria-label="app feature list" class="app__features section-features section-features--big minw30-gtc-2-auto">
				<li class="app__feature border-card p">
					<h4 class="app__feature-title h6 instant-transactions-icon">Instant <br> transactions</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<h4 class="app__feature-title h6 saving-accounts-icon">Saving <br> accounts</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<h4 class="app__feature-title h6 mobile-banking-icon">Mobile <br> banking</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<h4 class="app__feature-title h6 advanced-statistics-icon">Advanced <br> statistics</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<h4 class="app__feature-title h6 physical-card-icon">Virtual <br> cards</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<h4 class="app__feature-title h6 contactless-payments-icon">Contactless <br> payments</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
			</ul>
		</div>
		<div class="app__screen dn minw55-db">
			<img src="assets/images/app-screen.png" srcset="assets/images/app-screen-2x.png 2x" loading="lazy" alt="App Screen" class="app__picture">
		</div>
	</div>
</section>

<script>
	import $ from 'jquery';
	import 'jquery-match-height';

	($('.app__feature') as any).matchHeight();
</script>