<section class="app">
	<div class="app__inner container">
		<div class="app__text">
			<h2 class="app__title">One app. <br> One banking.</h2>
			<ul role="list" aria-label="app feature list" class="app__features section-features section-features--big minw30-gtc-2-auto">
				<li class="app__feature border-card p">
					<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
						<use href="#app-feature-1"></use>
					</svg>
					<h4 class="app__feature-title h6">Instant <br> transactions</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
						<use href="#app-feature-2"></use>
					</svg>
					<h4 class="app__feature-title h6">Saving <br> accounts</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
						<use href="#app-feature-3"></use>
					</svg>
					<h4 class="app__feature-title h6">Mobile <br> banking</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
						<use href="#app-feature-4"></use>
					</svg>
					<h4 class="app__feature-title h6">Advanced <br> statistics</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
						<use href="#app-feature-5"></use>
					</svg>
					<h4 class="app__feature-title h6">Virtual <br> cards</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
				<li class="app__feature border-card p">
					<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
						<use href="#app-feature-6"></use>
					</svg>
					<h4 class="app__feature-title h6">Contactless <br> payments</h4>
					<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
				</li>
			</ul>
		</div>
		<div class="app__screen dn minw55-db">
			<img src="assets/images/app-screen.png" srcset="assets/images/app-screen-2x.png 2x" alt="App Screen" class="app__picture">
		</div>
	</div>
</section>

<script>
	import $ from 'jquery';
	import 'jquery-match-height';

	($('.app__feature') as any).matchHeight();
</script>