<a href="#" class="app-app-store-link">
	<img src="/assets/images/app-banner-appstore.png" srcset="assets/images/app-banner-appstore-2x.png 2x" alt="App Store" class="app-app-store-link-picture">
</a>