---
import AppStoreLink from '../../elements/links/AppStoreLink.astro';
import GooglePlayLink from '../../elements/links/GooglePlayLink.astro';
---

<section class="app-banner">
	<div class="app-banner__inner container">
		<div class="app-banner__text">
			<h2 class="app-banner__title h3">One app.<br> One banking.</h2>
			<p class="app-banner__description section-description section-description--small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
			<ul role="list" aria-label="app features list" class="app-banner__features section-features minw30-gtc-2-auto">
				<li class="app-banner__feature section-feature section-feature--banner section-feature--small">Instant transactions</li>
				<li class="app-banner__feature section-feature section-feature--banner section-feature--small">Payments worldwide</li>
				<li class="app-banner__feature section-feature section-feature--banner section-feature--small">Saving accounts</li>
				<li class="app-banner__feature section-feature section-feature--banner section-feature--small">100% mobile banking</li>
			</ul>
			<div class="app-banner__links">
				<AppStoreLink/>
				<GooglePlayLink/>
			</div>
		</div>
		<div class="app-banner__image dn minw55-db">
			<img src="/assets/images/app-screen.png" alt="App Screen" class="app-banner__picture">
		</div>
	</div>
</section>