<a href="#" class="app-google-play-link">
	<img src="/assets/images/app-banner-googleplay.png" srcset="assets/images/app-banner-googleplay-2x.png 2x" alt="App Store" class="app-google-play-link-picture">
</a>