<section class="cards">
	<div class="cards__inner container">
		<span class="cards__tag section-tag">Account</span>
		<h2 class="cards__subtitle">Perfect card for your needs.</h2>
		<p class="cards__description">Senectus et netus et malesuada fames ac turpis. Sagittis vitae et leo duis ut diam.</p>
		<img src="assets/images/cards-cards.png" alt="Cards" class="cards__picture">
		<div class="cards__buttons">
			<a href="#" class="cards__button button-primary">Open Account</a>
			<a href="/compare" class="cards__button button-secondary">Compare Cards</a>
		</div>
	</div>
</section>