<section class="cards">
	<div class="cards__inner container">
		<div class="cards__text">
			<span class="cards__tag section-tag tac">Account</span>
			<h2 class="cards__title tac">Perfect card for your needs.</h2>
			<p class="cards__description tac">Senectus et netus et malesuada fames ac turpis.<br> Sagittis vitae et leo duis ut diam.</p>
		</div>
		<img src="assets/images/cards-cards.png" alt="Cards" class="cards__picture">
		<div class="cards__buttons">
			<a href="#" class="cards__button button button-primary">Open Account</a>
			<a href="/compare" class="cards__button button button-secondary">Compare Cards</a>
		</div>
	</div>
</section>