<section class="intro mt-0">
	<div class="intro__inner container">
		<div class="intro__text">
			<h1 class="intro__title">Banking starts here.</h1>
			<p class="intro__description section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			<ul role="list" aria-label="intro feature list" class="intro__features section__features minw30-gtc-2-auto">
				<li class="intro__feature section__feature">Payments worldwide</li>
				<li class="intro__feature section__feature">Saving accounts</li>
				<li class="intro__feature section__feature">Instant Transfer</li>
				<li class="intro__feature section__feature">100% mobile banking</li>
			</ul>
			<div class="intro__buttons">
				<a href="#" class="intro__button button button-primary">Open Account</a>
				<a href="/compare" class="intro__button link-primary link-primary--arrow">Compare Cards</a>
			</div>
		</div>
		<div class="intro__image dn minw55-db">
			<img src="assets/images/intro-cards.png" alt="Intro Image" class="intro__picture">
		</div>
	</div>
</section>