<section class="money-transfering">
	<div class="money-transfring__inner container even-columns">
		<div class="money-transfering__text">
			<h2 class="money-transfering__title h3">Send & receive money instantly</h2>
			<p class="money-transfering__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			<ul role="list" aria-label="money transfering feature list" class="money-transfering__features">
				<li class="money-transfering__feature">Malesuada Ipsum</li>
				<li class="money-transfering__feature">Vestibulum</li>
				<li class="money-transfering__feature">Parturient Lorem</li>
			</ul>
		</div>
		<div class="money-transfering__image">
			<img src="assets/images/money-transfering-transactions.png" alt="Transactions" class="money-transfering__picture">
		</div>
	</div>
</section>