<section class="notifications">
	<div class="notifications__inner container">
		<div class="notifications__text">
			<span class="notifications__tag section__tag">Notifications</span>
			<h2 class="notifications__title h3 mt-0_5">Stay notified</h2>
			<p class="notifications__description section__description section__description--small">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			<ul role="list" aria-label="notifications features list" class="notifications__features section__features section__features--small">
				<li class="notifications__feature section__feature">Malesuada Ipsum</li>
				<li class="notifications__feature section__feature">Vestibulum</li>
				<li class="notifications__feature section__feature">Parturient Lorem</li>
			</ul>
			<a href="/compare" class="notifications__link link-primary link-primary--arrow">Compare Cards</a>
		</div>
		<div class="notifications__image dn minw55-db">
			<img src="assets/images/notifications-messages.png" alt="Notifications" class="notifications__picture">
		</div>
	</div>
</section>