<section class="testimonials">
			<div class="testimonials__inner container">
				<div class="testimonials__head">
					<span class="testimonials__tag section__tag">Testimonials</span>
					<h2 class="testimonials__title h3 mt-1">People all over the world use banko.</h2>
					<div class="testimonials__rating">
						<span class="testimonials__rating-text">Rated <span class="testimonials__rating-value">4.8/5</span> from over 1000 users</span>
					</div>
				</div>
				<div class="testimonials__wrapper">
					<ul role="list" aria-label="testimonials list" class="testimonials__list">
						<!-- <div class="grid-sizer"></div> -->
						<li class="testimonials__list-item">
							<article class="testimonial border__card">
								<img src="./assets/images/testimonial-rating.png" alt="Testimonial Rating" class="testimonial__rating">
								<h4 class="testimonial__title mt-0_5">Sunt qui esse pariatur duis deserunt mollit</h4>
								<p class="testimonial__content">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. </p>
								<div class="testimonial__author">
									<h5 class="testimonial__name h6 mt-1_5">Cody Fisher</h5>
									<span class="testimonial__profession text-muted">Medical Assistant</span>
								</div>
							</article>
						</li>
						<li class="testimonials__list-item">
							<article class="testimonial border__card">
								<img src="./assets/images/testimonial-rating.png" alt="Testimonial Rating" class="testimonial__rating">
								<h4 class="testimonial__title mt-0_5">At lectus urna duis convallis tellus</h4>
								<p class="testimonial__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.</p>
								<p class="testimonial__content">In nibh mauris cursus mattis. At lectus urna duis convallis convallis tellus. Enim blandit volutpat maecenas volutpat.</p>
								<div class="testimonial__author">
									<h5 class="testimonial__name h6 mt-1_5">Jenny Wilson</h5>
									<span class="testimonial__profession text-muted">Nursing Assistant</span>
								</div>
							</article>
						</li>
						<li class="testimonials__list-item">
							<article class="testimonial border__card">
								<img src="./assets/images/testimonial-rating.png" alt="Testimonial Rating" class="testimonial__rating">
								<h4 class="testimonial__title mt-0_5">Elit aute irure tempor cupidatat incididunt</h4>
								<p class="testimonial__content">Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.</p>
								<div class="testimonial__author">
									<h5 class="testimonial__name h6 mt-1_5">Guy Hawkins</h5>
									<span class="testimonial__profession text-muted">President of Sales</span>
								</div>
							</article>
						</li>
						<li class="testimonials__list-item">
							<article class="testimonial border__card">
								<img src="./assets/images/testimonial-rating.png" alt="Testimonial Rating" class="testimonial__rating">
								<h4 class="testimonial__title mt-0_5">Sunt qui esse pariatur duis deserunt mollit</h4>
								<p class="testimonial__content">Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.</p>
								<div class="testimonial__author">
									<h5 class="testimonial__name h6 mt-1_5">Cody Fisher</h5>
									<span class="testimonial__profession text-muted">Medical Assistant</span>
								</div>
							</article>
						</li>
						<li class="testimonials__list-item">
							<article class="testimonial border__card">
								<img src="./assets/images/testimonial-rating.png" alt="Testimonial Rating" class="testimonial__rating">
								<h4 class="testimonial__title mt-0_5">Donec et fringilla neque</h4>
								<p class="testimonial__content">Etiam accumsan porta neque in viverra. Proin eleifend, eros in tristique hendrerit, nisi purus cursus sapien, id ultrices nunc tellus a ipsum. Donec et fringilla neque. Aenean consequat purus quis lectus maximus fermentum.</p>
								<div class="testimonial__author">
									<h5 class="testimonial__name h6 mt-1_5">Darlene Robertson</h5>
									<span class="testimonial__profession text-muted">Dog Trainer</span>
								</div>
							</article>
						</li>
						<li class="testimonials__list-item">
							<article class="testimonial border__card">
								<img src="./assets/images/testimonial-rating.png" alt="Testimonial Rating" class="testimonial__rating">
								<h4 class="testimonial__title mt-0_5">Etiam accumsan porta neque eros</h4>
								<p class="testimonial__content">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. </p>
								<div class="testimonial__author">
									<h5 class="testimonial__name h6 mt-1_5">Dianne Russell</h5>
									<span class="testimonial__profession text-muted">Medical Assistant</span>
								</div>
							</article>
						</li>
					</ul>
				</div>
				<div class="testimonials__dots">
					<a href="#" class="testimonials__dot maxw65-db testimonials__dot--active"></a>
					<a href="#" class="testimonials__dot maxw65-db"></a>
					<a href="#" class="testimonials__dot maxw65-db"></a>
					<a href="#" class="testimonials__dot maxw40-db"></a>
					<a href="#" class="testimonials__dot maxw40-db"></a>
					<a href="#" class="testimonials__dot maxw40-db"></a>
				</div>
			</div>
		</section>