<section class="accounts-perfect">
	<div class="accounts-perfect__inner container">
		<div class="accounts-perfect__text">
			<span class="accounts-perfect__tag section-tag tac">Account</span>
			<h2 class="accounts-perfect__title tac mt-0_5">Perfect card for your needs.</h2>
			<p class="accounts-perfect__description tac">Senectus et netus et malesuada fames ac turpis.<br> Sagittis vitae et leo duis ut diam.</p>
		</div>
		<img src="assets/images/accounts-perfect.png" alt="Accounts Cards" class="accounts-perfect__picture">
		<div class="accounts-perfect__buttons">
			<a href="#" class="accounts-perfect__button button button-primary">Open Account</a>
			<a href="/compare" class="accounts-perfect__button button button-secondary">Compare Cards</a>
		</div>
	</div>
</section>