<section class="accounts-choose">
	<div class="accounts-choose__inner container">
		<div class="accounts-choose__text">
			<span class="accounts-choose__tag section-tag"></span>
			<h2 class="accounts-choose__title"></h2>
			<p class="accounts-choose__description"></p>
		</div>
		<ul role="list" aria-label="accounts list" class="accounts-choose__list">
			<li class="accounts-choose__list-item">
				<h4 class="accounts-choose-title dif tac h6 popular-pseudo">Basic</h4>
				<p class="accounts-choose__price"><span class="accounts-choose__value"></span></p>
				<p class="accounts-choose-description text-muted">Lorem ipsum dolor</p>
				<img src="assets/images/header-card-basic.png" alt="Basic Card" class="accounts-choose-picture">
				<a href="#" class="accounts-choose__button button button-primary button-primary--narrow"></a>
			</li>
			<li class="accounts-choose__list-item"></li>
			<li class="accounts-choose__list-item"></li>
		</ul>
	</div>
</section>