@use "sass:math";
@use "../../abstracts" as *;

.features-all-in-one__inner {
	overflow: hidden;
}

.features-all-in-one__inner .swiper {
	display: flex;
}

.features-all-in-one__description {
	margin-bottom: 3rem;

	@include minw-mq(75rem) {
		margin-bottom: 6rem;
	}
}

.features-all-in-one__cards .swiper-wrapper {
	@include minw-mq(65em) {
		display: grid;
	}
}

.features-all-in-one__cards-wrapper {
	@include minw-mq(65em) {
		grid-template-columns: repeat(6, 1fr);
		gap: 2rem;
	}
}

.features-all-in-one__cards-wrapper .swiper-slide {
	display: flex;
}
