@use "sass:math";
@use "../../abstracts" as *;

.testimonials__inner {
	overflow: hidden;
}

.testimonials__head {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 4rem;
	column-gap: 1rem;

	@include maxw-mq(40em) {
		display: block;
		margin-bottom: 2rem;
	}
}

.testimonials__title-block {
	width: 55%;

	@include maxw-mq(40em) {
		width: 100%;
	}
}

.testimonials__rating {
	display: flex;
	align-items: center;
	min-height: 40px;
	margin-top: 1rem;
	padding-left: 3.5rem;
	background: url("/assets/images/rating-icon.svg") no-repeat center left;
}

.testimonials__rating-value {
	color: var(--clr-primary-400);
}

.testimonials__list {
	@include maxw-mq(65em) {
		display: flex;
		height: auto !important;
	}
}

.testimonials__list .swiper-slide {
	height: auto;
	width: calc(33.333% - 21px);

	@include maxw-mq(65em) {
		display: flex;
		width: 100%;
	}
}

.testimonials__list-item {

	@include maxw-mq(65em) {
		position: static !important;
		width: auto;
		user-select: none;
	}

	&:nth-child(-n + 4) {
		margin-bottom: 2rem;

		@include maxw-mq(65em) {
			margin: 0;
		}
	}
}

.testimonials__grid-sizer {
	width: calc(33.333% - 21px);

	@include maxw-mq(65em) {
		display: none;
	}
}
