@use "sass:math";
@use "../../../abstracts" as *;

.testimonials-card {
	display: flex;
	flex-direction: column;
}

.testimonials-card__rating {
	max-width: 116px;
}

.testimonials-card__author {
	margin: 0;

	@include maxw-mq(65em) {
		margin-top: auto;
	}
}

.testimonials-card__profession {
	font-size: 1rem;

	@include maxw-mq(55em) {
		font-size: 0.875rem;
	}
}
