---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Homepage";
const scriptsrc = "https://identity.netlify.com/v1/netlify-identity-widget.js";
---

<BaseLayout title={title} scriptsrc={scriptsrc}>
	<main class="main"></main>
</BaseLayout>


