---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Homepage";
const scriptsrc = "https://identity.netlify.com/v1/netlify-identity-widget.js";
---

<BaseLayout title={title} scriptsrc={scriptsrc}>
	<main class="main">
		<section class="intro mt-0">
			<div class="intro__inner container even-columns">
				<div class="intro__text">
					<h1 class="intro__title">Banking starts here.</h1>
					<p class="intro__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
					<ul role="list" aria-label="intro feature list" class="intro__features even-columns">
						<li class="intro__feature">Instant Transfer</li>
						<li class="intro__feature">Payments worldwide</li>
						<li class="intro__feature">Saving accounts</li>
						<li class="intro__feature">100% mobile banking</li>
					</ul>
					<div class="intro__buttons">
						<a href="#" class="intro__button button-primary">Open Account</a>
						<a href="/compare" class="intro__button link-primary--arrow">Compare Cards</a>
					</div>
				</div>
				<div class="intro__image">
					<img src="assets/images/intro-cards.png" alt="Intro Image" class="intro__picture">
				</div>
			</div>
		</section>
		<section class="app">
			<div class="app__inner container even-columns">
				<div class="app__text">
					<h2 class="app__title">One app. One banking.</h2>
					<ul role="list" aria-label="app feature list" class="app__features even-columns">
						<li class="app__feature">
							<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
								<use href="#app-feature-1"></use>
							</svg>
							<h3 class="app__feature-title h3--small">Instant transactions</h3>
							<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
						</li>
						<li class="app__feature">
							<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
								<use href="#app-feature-2"></use>
							</svg>
							<h3 class="app__feature-title h3--small">Saving accounts</h3>
							<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
						</li>
						<li class="app__feature">
							<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
								<use href="#app-feature-3"></use>
							</svg>
							<h3 class="app__feature-title h3--small">Mobile banking</h3>
							<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
						</li>
						<li class="app__feature">
							<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
								<use href="#app-feature-4"></use>
							</svg>
							<h3 class="app__feature-title h3--small">Advanced statistics</h3>
							<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
						</li>
						<li class="app__feature">
							<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
								<use href="#app-feature-5"></use>
							</svg>
							<h3 class="app__feature-title h3--small">Virtual cards</h3>
							<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
						</li>
						<li class="app__feature">
							<svg width="50" height="51" viewBox="0 0 50 51" class="app__feature-icon">
								<use href="#app-feature-6"></use>
							</svg>
							<h3 class="app__feature-title h3--small">Contactless payments</h3>
							<p class="app__feature-description">Odio euismod lacinia at quis. Amet purus gravida quis blandit turpis.</p>
						</li>
					</ul>
					<div class="app__screen">
						<img src="assets/images/app-screen.png" alt="App Screen" class="app__picture">
					</div>
				</div>
			</div>
		</section>
		<section class="money-transfering">
			<div class="money-transfring__inner container even-columns">
				<div class="money-transfering__text">
					<h2 class="money-transfering__title h2--small">Send & receive money instantly</h2>
					<p class="money-transfering__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
					<ul role="list" aria-label="money transfering feature list" class="money-transfering__features">
						<li class="money-transfering__feature">Malesuada Ipsum</li>
						<li class="money-transfering__feature">Vestibulum</li>
						<li class="money-transfering__feature">Parturient Lorem</li>
					</ul>
				</div>
				<div class="money-transfering__image">
					<img src="assets/images/money-transfering-transactions.png" alt="Transactions" class="money-transfering__picture">
				</div>
			</div>
		</section>
		<section class="organizer">
			<div class="organizer__inner container even-columns">
				<div class="organizer__text">
					<h2 class="organizer__title h2--smallest">Saving Accounts</h2>
					<h3 class="organizer__subtitle">Organize your money the right way</h3>
					<p class="orginzer__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="#" class="organizer__link link-primary--arrow">All Features</a>
				</div>
				<ul role="list" aria-label="purchases list" class="organizer__purchases">
					<li class="organizer__purchase">
						<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
							<use href="#organizer-purchase-1"></use>
						</svg>
						<h4 class="purchase__title h4--small">New Laptop</h4>
						<span class="purchase__value text-muted">400$</span>
					</li>
					<li class="organizer__purchase">
						<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
							<use href="#organizer-purchase-2"></use>
						</svg>
						<h4 class="purchase__title h4--small">Dream bike</h4>
						<span class="purchase__value text-muted">200$</span>
					</li>
					<li class="organizer__purchase">
						<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
							<use href="#organizer-purchase-3"></use>
						</svg>
						<h4 class="purchase__title h4--small">Holiday</h4>
						<span class="purchase__value text-muted">14000$</span>
					</li>
					<li class="organizer__purchase">
						<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
							<use href="#organizer-purchase-4"></use>
						</svg>
						<h4 class="purchase__title h4--small">Camera</h4>
						<span class="purchase__value text-muted">100$</span>
					</li>
					<li class="organizer__purchase">
						<svg class="purchase-icon" width="214" height="215" viewBox="0 0 214 215">
							<use href="#organizer-purchase-5"></use>
						</svg>
					</li>
				</ul>
			</div>
		</section>
		<section class="notifications">
			<div class="notifications__inner container even-columns">
				<div class="notifications__text">
					<h2 class="notifications__title h2--smallest">Notifications</h2>
					<h3 class="notifications__subtitle">Stay notified</h3>
					<p class="notifications__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
					<ul role="list" aria-label="notifications features list" class="notifications__features">
						<li class="notifications__feature">Malesuada Ipsum</li>
						<li class="notifications__feature">Vestibulum</li>
						<li class="notifications__feature">Parturient Lorem</li>
					</ul>
				</div>
				<div class="notifications__image">
					<img src="assets/images/notifications-messages.png" alt="Notifications" class="notifications__picture">
				</div>
			</div>
		</section>
		<section class="integrations">
			<div class="integrations__inner container even-columns">
				<ul role="list" aria-label="integrations logo list" class="integrations__logos">
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="132" height="61" viewBox="0 0 132 61">
							<use href="#logo-webflow"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="139" height="61" viewBox="0 0 139 61">
							<use href="#logo-shopify"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="98" height="61" viewBox="0 0 98 61">
							<use href="#logo-zapier"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="153" height="61" viewBox="0 0 153 61">
							<use href="#logo-bitcoin"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="126" height="61" viewBox="0 0 126 61">
							<use href="#logo-paypal"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="74" height="61" viewBox="0 0 74 61">
							<use href="#logo-mastercard"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="95" height="61" viewBox="0 0 95 61">
							<use href="#logo-visa"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="96" height="61" viewBox="0 0 96 61">
							<use href="#logo-googlepay"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="94" height="61" viewBox="0 0 94 61">
							<use href="#logo-applepay"></use>
						</svg>
					</li>
					<li class="integrations__logo-item">
						<svg class="integrations__logo" width="163" height="61" viewBox="0 0 163 61">
							<use href="#logo-amazonpay"></use>
						</svg>
					</li>
				</ul>
				<div class="integrations__text even-columns">
					<h2 class="integrations__title h2--smallest">Tools</h2>
					<h3 class="integrations__subtitle">Seemless integration</h3>
					<p class="integrations__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
					<ul role="list" aria-label="integrations features list" class="integrations__features">
						<li class="integrations__feature">Secure and encrypted integration</li>
						<li class="integrations__feature">Fully API interface</li>
						<li class="integrations__feature">Payments worldwide</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="cards">
			<div class="cards__inner container">
				<h2 class="cards__title h2--smallest">Account</h2>
				<h3 class="cards__subtitle h3--big">Perfect card for your needs.</h3>
				<p class="cards__description">Senectus et netus et malesuada fames ac turpis. Sagittis vitae et leo duis ut diam.</p>
				<img src="assets/images/cards-cards.png" alt="Cards" class="cards__picture">
				<div class="cards__buttons">
					<a href="#" class="cards__button button-primary">Open Account</a>
					<a href="/compare" class="cards__button button-secondary">Compare Cards</a>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>


