<section class="integrations">
	<div class="integrations__inner container">
		<ul role="list" aria-label="integrations logo list" class="integrations__logos-list">
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="132" height="61" viewBox="0 0 132 61">
					<use href="#logo-webflow"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="139" height="61" viewBox="0 0 139 61">
					<use href="#logo-shopify"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="98" height="61" viewBox="0 0 98 61">
					<use href="#logo-zapier"></use>
				</svg>
			</li>
			<li class="integrations__logo-item mr-2">
				<svg class="integrations__logo" width="153" height="61" viewBox="0 0 153 61">
					<use href="#logo-bitcoin"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="126" height="61" viewBox="0 0 126 61">
					<use href="#logo-paypal"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="74" height="61" viewBox="0 0 74 61">
					<use href="#logo-mastercard"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="95" height="61" viewBox="0 0 95 61">
					<use href="#logo-visa"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="96" height="61" viewBox="0 0 96 61">
					<use href="#logo-googlepay"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="94" height="61" viewBox="0 0 94 61">
					<use href="#logo-applepay"></use>
				</svg>
			</li>
			<li class="integrations__logo-item">
				<svg class="integrations__logo" width="163" height="61" viewBox="0 0 163 61">
					<use href="#logo-amazonpay"></use>
				</svg>
			</li>
		</ul>
		<div class="integrations__text">
			<div class="integrations__text-left">
				<span class="integrations__tag section-tag">Tools</span>
				<h2 class="integrations__title h3">Seemless integration</h2>
				<p class="integrations__description section-description section-description--small">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
			</div>
			<ul role="list" aria-label="integrations features list" class="integrations__features integrations__text-right section-features">
				<li class="integrations__feature section-feature section-feature--big">Fully API interface</li>
				<li class="integrations__feature section-feature section-feature--big">Payments worldwide</li>
				<li class="integrations__feature section-feature section-feature--big">Secure and encrypted integration</li>
			</ul>
		</div>
	</div>
</section>