@use '../abstracts' as *;

.mt-0 {
	margin-top: 0;
}

.mt-0_5 {
	margin-top: .5rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-1_5 {
	margin-top: 1.5rem;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mr-0 {
	margin-right: 0;
}

.pr-2 {
	padding-right: 2rem;
}

.maxw55-p-0_75 {
	@include maxw-mq(55em) {
		padding: .75rem;
	}
}

.maxw55-pb-1 {
	@include maxw-mq(55em) {
		padding-block: 1rem;
	}
}

.maxw55-pi-1_5 {
	@include maxw-mq(55em) {
		padding-inline: 1.5rem;
	}
}