@use '../abstracts' as *;

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.ls-0 {
 letter-spacing: 0;
}

.h3 {
	font-size: 2.5rem;

	@include minw-mq(55em) {
		font-size: 3.5rem;
	}

	@include minw-mq(75em) {
		font-size: 4rem;
	}
}

.h5 {
	font-size: 1.5rem;

	@include minw-mq(55em) {
		font-size: 1.75rem;
	}
}

.h6 {
	font-size: 1.125rem;

	@include minw-mq(55em) {
		font-size: 1.25rem;
	}
}

.h7 {
	font-size: 1rem;
	line-height: 1.4;

	@include minw-mq(55em) {
		font-size: 1.125rem;
	}
}

.p {
	font-size: 1rem;
}