<section class="app-banner">
	<div class="app-banner__inner container even-columns">
		<div class="app-banner__text">
			<h2 class="app-banner__title h3">One app. One banking.</h2>
			<p class="app-banner__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
			<ul role="list" aria-label="app features list" class="app-banner__features">
				<li class="app-banner__feature">Instant transactions</li>
				<li class="app-banner__feature">Payments worldwide</li>
				<li class="app-banner__feature">Saving accounts</li>
				<li class="app-banner__feature">100% mobile banking</li>
			</ul>
			<div class="app-banner__links">
				<a href="" class="app-banner__link">
					<img src="assets/images/app-banner-appstore.png" alt="App Store" class="app-banner__link-picture">
				</a>
				<a href="" class="app-banner__link">
					<img src="assets/images/app-banner-googleplay.png" alt="Google Play" class="app-banner__link-picture">
				</a>
			</div>
		</div>
		<div class="app-banner__image">
			<img src="assets/images/app-screen.png" alt="App Screen" class="app-banner__picture">
		</div>
	</div>
</section>