<footer class="footer">
	<div class="footer__inner container container--wide">
		<div class="footer__logo">
			<a href="/" class="footer__logo-link">
				<svg class="footer__logo-icon">
					<use href="#logo"></use>
				</svg>
			</a>
		</div>
		<nav aria-label="Footer" class="footer__nav">
			<ul class="footer__list">
				<li class="footer__list-item">
					<h4 class="footer__nav-title h6">About</h4>
				</li>
				<li class="footer__list-item">
					<a href="/features" class="footer__nav-link">Features</a>
				</li>
				<li class="footer__list-item">
					<a href="/compare" class="footer__nav-link">Pricing</a>
				</li>
				<li class="footer__list-item">
					<a href="/support" class="footer__nav-link">Support</a>
				</li>
			</ul>
			<ul class="footer__list">
				<li class="footer__list-item">
					<h4 class="footer__nav-title h6">Blog</h4>
				</li>
				<li class="footer__list-item">
					<a href="/blog/products" class="footer__nav-link">Products</a>
				</li>
				<li class="footer__list-item">
					<a href="/blog/technology" class="footer__nav-link">Technology</a>
				</li>
				<li class="footer__list-item">
					<a href="/blog/app" class="footer__nav-link">App</a>
				</li>
			</ul>
			<ul class="footer__list">
				<li class="footer__list-item">
					<h4 class="footer__nav-title h6">Webflow</h4>
				</li>
				<li class="footer__list-item">
					<a href="#" class="footer__nav-link">Styleguide</a>
				</li>
				<li class="footer__list-item">
					<a href="#" class="footer__nav-link">Licensing</a>
				</li>
				<li class="footer__list-item">
					<a href="#" class="footer__nav-link">Changelog</a>
				</li>
				<ul class="footer__list">
					<li class="footer__list-item">
						<h4 class="footer__nav-title h6">Social Media</h4>
					</li>
					<li class="footer__list-item">
						<a href="#" class="footer__nav-link">Twitter</a>
					</li>
					<li class="footer__list-item">
						<a href="#" class="footer__nav-link">Facebook</a>
					</li>
					<li class="footer__list-item">
						<a href="#" class="footer__nav-link">Instagram</a>
					</li>
				</ul>
			</ul>
		</nav>
	</div>
</footer>