<header class="header">
	<div class="container container--wide">
		<div class="header__inner">
			<a aria-label="home" href="/" class="header__logo">
				<svg width="139" height="32" viewBox="0 0 139 32" class="header__logo-link">
					<use href="#logo"></use>
				</svg>
			</a>
			<nav class="header__nav">
				<div class="header__nav-center">
					<ul role="list" aria-label="primary" class="header__list">
						<li class="header__list-item">
							<a href="/features" class="header__nav-link">Features</a>
						</li>
						<li class="header__list-item">
							<a href="/compare" class="header__nav-link">Compare</a>
						</li>
						<li class="header__list-item">
							<a href="/support" class="header__nav-link">Support</a>
						</li>
						<li class="header__list-item">
							<a href="/blog" class="header__nav-link">Blog</a>
						</li>
					</ul>
					<button class="header__mobile-menu" aria-controls="primary-navigation" aria-expanded="false">
						<span class="header__hamburger" aria-hidden="true"></span>
						<span class="header__close" aria-hidden="true"></span>
						<span class="visually-hidden">Menu</span>
					</button>
				</div>
				<div class="header__nav-left">
					<ul role="list" aria-label="secondary" class="header__list">
						<li class="header__list-item">
							<a href="#" class="header__nav-link">Login</a>
						</li>
						<li class="header__list-item">
							<a href="#" class="header__nav-link">Open Account</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>	
</header>