---

const allPosts = await Astro.glob('../pages/blog/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
const freshPosts = sortedPosts.slice(0, 4);
const truncateString = (s, w) => s.length > w ? s.slice(0, w) + "..." : s;
---

<header class="header">
	<div class="header__inner container container--wide">
		<div class="header__logo">
			<a aria-label="home" href="/" class="header__logo-link">
				<svg width="139" height="32" viewBox="0 0 139 32" class="header__logo-icon">
					<use href="#logo"></use>
				</svg>
			</a>
		</div>
		<nav class="header__nav" aria-label="Primary">
			<div class="header__nav-pages">
				<ul role="list" aria-label="link list" class="header__list">
					<li class="header__list-item">
						<a href="/features" class="header__nav-link header__nav-link--page">Features</a>
					</li>
					<li class="header__list-item">
						<a href="/compare" class="header__nav-link header__nav-link--page link-dropdown link-dropdown--desktop">Compare</a>
					</li>
					<li class="header__list-item">
						<a href="/support" class="header__nav-link header__nav-link--page">Support</a>
					</li>
					<li class="header__list-item">
						<a href="/blog" class="header__nav-link header__nav-link--page link-dropdown link-dropdown--desktop">Blog</a>
					</li>
				</ul>
			</div>
			<div class="header__nav-auth">
				<a href="#" class="header__nav-link header__nav-link--sign-in link-primary">Login</a>
				<a href="#" class="header__nav-link header__nav-link--join button button-primary button-primary--narrow ls-0">Open Account</a>
			</div>
		</nav>
		<button class="header__mobile-menu button-menu" aria-controls="primary-navigation" aria-expanded="false">
			<svg class="header__hamburger db" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
				<use href="#hamburger"></use>
			</svg>
			<svg class="header__x" width="28" height="28" viewBox="0 0 14 13" aria-hidden="true">
				<use href="#close"></use>
			</svg>
			<span class="visually-hidden">Menu</span>
		</button>
	</div>
	<div class="header__dropdown">
		<ul role="list" aria-label="compare list" class="header__compare">
			<li class="header__compare-card">
				<h4 class="card__title h5 popular">Basic</h4>
				<p class="card__description text-muted">Lorem ipsum dolor</p>
				<img src="assets/images/header-card-basic.png" alt="Basic Card" class="card__picture">
			</li>
			<li class="header__compare-card">
				<h4 class="card__title h5">Premium</h4>
				<p class="card__description text-muted">Lorem ipsum dolor</p>
				<img src="assets/images/header-card-premium.png" alt="Premium Card" class="card__picture">
			</li>
			<li class="header__compare-card">
				<h4 class="card__title h5">Gold</h4>
				<p class="card__description text-muted">Lorem ipsum dolor</p>
				<img src="assets/images/header-card-gold.png" alt="Gold Card" class="card__picture">
			</li>
		</ul>
		<div class="header__blog">
			<div class="header__blog-sidebar">
				<ul role="list" aria-label="category list" class="header__blog-category-list">
					<li class="header__blog-category-list-item">
						<h5 class="header__blog-category-title h6">Categories</h5>
					</li>
					<li class="header__blog-category-list-item">
						<a href="/blog/products" class="header__blog-category-link">Products</a>
					</li>
					<li class="header__blog-category-list-item">
						<a href="/blog/technology" class="header__blog-category-link">Technology</a>
					</li>
					<li class="header__blog-category-list-item">
						<a href="/blog/app" class="header__blog-category-link">App</a>
					</li>
				</ul>
				<a href="/blog" class="header__blog-link link-primary--arrow">All Articles</a>
			</div>
			<div class="header__blog-articles">
				<h4 class="header__blog-articles-title h5">Latest Articles</h4>
				<ul role="list" aria-label="articles list" class="header__blog-articles-list even-columns">
					{freshPosts.map(post => (
						<li class="header__blog-articles-list-item even-columns">
							<a href={post.url} class="header__blog-article-link">
								<div class="header__blog-article-image">
										<img src={post.frontmatter.image} class="header__blog-article-picture">
								</div>
								<div class="header__blog-article-text">
									<h5 class="header__blog-article-title h6">{post.frontmatter.title}</h5>
									<p class="header__blog-article-description text-muted">{truncateString(post.frontmatter.description, 39)}</p>
								</div>
							</a>
						</li>
					))}
				</ul>
			</div>
		</div>
	</div>
</header>