<header class="header">
	<div class="header__inner container container--wide">
		<div class="header__logo">
			<a aria-label="home" href="/" class="header__logo-link">
				<svg width="139" height="32" viewBox="0 0 139 32" class="header__logo-icon">
					<use href="#logo"></use>
				</svg>
			</a>
		</div>
		<nav class="header__nav" aria-label="Primary">
			<div class="header__nav-center">
				<ul role="list" aria-label="link list" class="header__list">
					<li class="header__list-item">
						<a href="/features" class="header__nav-link">Features</a>
					</li>
					<li class="header__list-item">
						<a href="/compare" class="header__nav-link">Compare</a>
					</li>
					<li class="header__list-item">
						<a href="/support" class="header__nav-link">Support</a>
					</li>
					<li class="header__list-item">
						<a href="/blog" class="header__nav-link">Blog</a>
					</li>
				</ul>
				<button class="header__mobile-menu" aria-controls="primary-navigation" aria-expanded="false">
					<svg class="header__hamburger" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
						<use href="#hamburger"></use>
					</svg>
					<svg class="header__close" width="28" height="28" viewBox="0 0 14 13" aria-hidden="true">
						<use href="#close"></use>
					</svg>
					<span class="visually-hidden">Menu</span>
				</button>
			</div>
			<div class="header__nav-left">
				<a href="#" class="header__nav-link link-primary">Login</a>
				<a href="#" class="header__nav-link button-primary">Open Account</a>
			</div>
		</nav>
	</div>
</header>