---

const allPosts = await Astro.glob('../pages/blog/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
const freshPosts = sortedPosts.slice(0, 4);
const truncateString = (s, w) => s.length > w ? s.slice(0, w) + "..." : s;
---

<header class="header">
	<div class="header__inner container container--wide">
		<div class="header__logo header__logo--mobile">
			<a aria-label="home" href="/" class="header__logo-link">
				<svg width="139" height="32" viewBox="0 0 139 32" class="header__logo-icon">
					<use href="#logo"></use>
				</svg>
			</a>
		</div>
		<nav class="header__nav" aria-label="Primary">
			<div class="header__logo header__logo--desktop">
				<a aria-label="home" href="/" class="header__logo-link">
					<svg width="139" height="32" viewBox="0 0 139 32" class="header__logo-icon">
						<use href="#logo"></use>
					</svg>
				</a>
			</div>
			<div class="header__nav-pages">
				<ul role="list" aria-label="link list" class="header__list">
					<li class="header__list-item">
						<a href="/features" class="header__nav-link header__nav-link--page">Features</a>
					</li>
					<li class="header__list-item header__list-item--compare">
						<a href="/compare" class="header__nav-link header__nav-link--page link-dropdown pr-2 maxw55-p-0_75">Compare</a>
						<div class="header__compare">
							<ul role="list" aria-label="compare list" class="header__compare-inner container container--wide">
								<li class="header__compare-card header__card">
									<a href="#">
										<h4 class="header__card-title h5 popular-pseudo">Basic</h4>
										<p class="header__card-description text-muted">Lorem ipsum dolor</p>
										<img src="assets/images/header-card-basic.png" alt="Basic Card" class="header__card-picture">
									</a>
								</li>
								<li class="header__compare-card header__card">
									<a href="#">
										<h4 class="header__card-title h5">Premium</h4>
										<p class="header__card-description text-muted">Lorem ipsum dolor</p>
										<img src="assets/images/header-card-premium.png" alt="Premium Card" class="header__card-picture">
									</a>
								</li>
								<li class="header__compare-card header__card">
									<a href="#">
										<h4 class="header__card-title h5">Gold</h4>
										<p class="header__card-description text-muted">Lorem ipsum dolor</p>
										<img src="assets/images/header-card-gold.png" alt="Gold Card" class="header__card-picture">
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="header__list-item">
						<a href="/support" class="header__nav-link header__nav-link--page">Support</a>
					</li>
					<li class="header__list-item header__list-item--blog">
						<a href="/blog" class="header__nav-link header__nav-link--page link-dropdown pr-2 maxw55-p-0_75">Blog</a>
						<div class="header__blog">
							<div class="header__blog-inner container container--wide">
								<div class="header__blog-sidebar header__sidebar">
									<ul role="list" aria-label="category list" class="header__sidebar-category-list">
										<li class="header__sidebar-category-list-item">
											<h5 class="header__sidebar-category-title h6">Categories</h5>
										</li>
										<li class="header__sidebar-category-list-item">
											<a href="/blog/products" class="header__sidebar-category-link text-muted">Products</a>
										</li>
										<li class="header__sidebar-category-list-item">
											<a href="/blog/technology" class="header__sidebar-category-link text-muted">Technology</a>
										</li>
										<li class="header__sidebar-category-list-item">
											<a href="/blog/app" class="header__sidebar-category-link text-muted">App</a>
										</li>
									</ul>
									<a href="/blog" class="header__sidebar-link link-primary link-primary--arrow">All Articles</a>
								</div>
								<div class="header__blog-articles header__articles">
									<h4 class="header__articles-title h5">Latest Articles</h4>
									<ul role="list" aria-label="articles list" class="header__articles-list">
										{freshPosts.map(post => (
											<li class="header__articles-list-item header__article">
												<a href={post.url} class="header__article-link">
													<div class="header__article-image">
															<img src={post.frontmatter.image} class="header__article-picture">
													</div>
													<div class="header__article-text">
														<h5 class="header__article-title h6">{post.frontmatter.title}</h5>
														<p class="header__article-description text-muted">{truncateString(post.frontmatter.description, 39)}</p>
													</div>
												</a>
											</li>
										))}
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="header__nav-auth">
					<a href="#" class="header__nav-link header__nav-link--sign-in link-primary">Login</a>
					<a href="#" class="header__nav-link header__nav-link--join button button-primary button-primary--narrow ls-0 maxw55-pb-1 maxw55-pi-1_5">Open Account</a>
			</div>
		</nav>
		<button class="header__mobile-menu button-icon" aria-controls="primary-navigation" aria-expanded="false">
			<svg class="header__hamburger db" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
				<use href="#hamburger"></use>
			</svg>
			<svg class="header__x" width="28" height="28" viewBox="0 0 14 13" aria-hidden="true">
				<use href="#close"></use>
			</svg>
			<span class="visually-hidden">Menu</span>
		</button>
	</div>
</header>