---
import Logo from "@components/Logo.astro";
import AccountsLink from "@components/accounts/generic/AccountsLink.astro";
import BlogPostSmall from "@components/blog/generic/BlogPostSmall.astro";
import accounts from "@data/accounts.js";
import LoginLink from "@components/login/LoginLink.astro";
import RegistrationLink from "@components/registration/RegistrationLink.astro";
import BlogLink from "@components/blog/BlogLink.astro";

const allPosts = await Astro.glob("../pages/blog/*.md");
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
const freshPosts = sortedPosts.slice(0, 4);
---

<header class="header">
	<div class="header__inner container container--wide">
		<Logo />
		<nav class="header__nav" aria-label="Primary">
			<Logo />
			<div class="header__nav-pages">
				<ul role="list" aria-label="link list" class="header__list">
					<li class="header__list-item">
						<a href="/features" class="header__nav-link header__nav-link--page">Features</a>
					</li>
					<li class="header__list-item header__list-item--compare">
						<a href="/compare" class="header__nav-link header__nav-link--page link-dropdown pr-2 maxw55-p-0_75">Compare</a>
						<div class="header__compare">
							<ul role="list" aria-label="compare list" class="header__compare-inner container container--wide">
								{
									accounts.map(
										(account) =>
											account.visible && (
												<li class="header__compare-card header__card">
													<AccountsLink account={account} />
												</li>
											)
									)
								}
							</ul>
						</div>
					</li>
					<li class="header__list-item">
						<a href="/support" class="header__nav-link header__nav-link--page">Support</a>
					</li>
					<li class="header__list-item header__list-item--blog">
						<a href="/blog" class="header__nav-link header__nav-link--page link-dropdown pr-2 maxw55-p-0_75">Blog</a>
						<div class="header__blog">
							<div class="header__blog-inner container container--wide">
								<div class="header__blog-sidebar header__sidebar">
									<ul role="list" aria-label="category list" class="header__sidebar-category-list">
										<li class="header__sidebar-category-list-item">
											<h5 class="header__sidebar-category-title h7">Categories</h5>
										</li>
										<li class="header__sidebar-category-list-item">
											<a href="/blog/products" class="header__sidebar-category-link text-muted">Products</a>
										</li>
										<li class="header__sidebar-category-list-item">
											<a href="/blog/technology" class="header__sidebar-category-link text-muted">Technology</a>
										</li>
										<li class="header__sidebar-category-list-item">
											<a href="/blog/app" class="header__sidebar-category-link text-muted">App</a>
										</li>
									</ul>
									<BlogLink />
								</div>
								<div class="header__blog-articles header__articles">
									<h4 class="header__articles-title h6">Latest Articles</h4>
									<ul role="list" aria-label="articles list" class="header__articles-list">
										{freshPosts.map((post) => <BlogPostSmall post={post} />)}
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="header__nav-auth">
				<LoginLink />
				<RegistrationLink />
			</div>
		</nav>
		<button class="header__mobile-menu button-icon" aria-controls="primary-navigation" aria-expanded="false">
			<svg class="header__hamburger db" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
				<use href="#hamburger"></use>
			</svg>
			<svg class="header__x" width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
				<use href="#close"></use>
			</svg>
			<span class="visually-hidden">Menu</span>
		</button>
	</div>
</header>

<script>
	import $ from "jquery";
	import "jquery-match-height";
	import toggleHeaderMenu from "@utilities/toggleHeaderMenu.js";

	toggleHeaderMenu(".header__mobile-menu", ".header__nav", ".header__hamburger", ".header__x");

	($(".blog-post-small-link") as any).matchHeight();
</script>
