<section class="help">
	<div class="help__inner container even-columns">
		<div class="help__text">
			<h2 class="help__title h3">Need help?</h2>
			<div class="help__contacts">
				<div class="help__contacts-data">
					<h4 class="help__contact h6">+49 176 123 456</h4>
					<span class="help__contact-description text-muted">Support Hotline</span>
				</div>
				<div class="help__contacts-data">
					<h4 class="help__contact h6">help@banquee.com</h4>
					<span class="help__contact-description text-muted">Support Email</span>
				</div>
			</div>
			<a href="/support" class="help__link link-primary--arrow">Support</a>
		</div>
		<ul role="list" aria-label="faq list" class="help__faq">
			<li class="help__question-block">
				<div class="help__question">
					<h4 class="help__question-title h5">How do I open an Banko account?</h4>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</li>
			<li class="help__question-block">
				<div class="help__question">
					<h4 class="help__question-title h5">How do I order a new card?</h4>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</li>
			<li class="help__question-block">
				<div class="help__question">
					<h4 class="help__question-title h5">How to change my account limits?</h4>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</li>
			<li class="help__question-block">
				<div class="help__question">
					<h4 class="help__question-title h5">How does Banko premium works?</h4>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</li>
			<li class="help__question-block">
				<div class="help__question">
					<h4 class="help__question-title h5">Can I have two Banko accounts?</h4>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</li>
		</ul>
	</div>
</section>