<section class="help">
	<div class="help__inner container even-columns">
		<div class="help__text">
			<h2 class="help__title h2--small">Need help?</h2>
			<div class="help__contacts">
				<div class="help__contacts-data">
					<span class="help__contact">+49 176 123 456</span>
					<span class="help__contact-description">Support Hotline</span>
				</div>
				<div class="help__contacts-data">
					<span class="help__contact">help@banquee.com</span>
					<span class="help__contact-description">Support Email</span>
				</div>
			</div>
			<a href="/support" class="help__link link-primary--arrow">Support</a>
		</div>
		<div class="help__faq">
			<div class="help__question-block">
				<div class="help__question">
					<h3 class="help__question-title h3--smallest">How do I open an Banko account?</h3>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</div>
			<div class="help__question-block">
				<div class="help__question">
					<h3 class="help__question-title h3--smallest">How do I order a new card?</h3>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</div>
			<div class="help__question-block">
				<div class="help__question">
					<h3 class="help__question-title h3--smallest">How to change my account limits?</h3>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</div>
			<div class="help__question-block">
				<div class="help__question">
					<h3 class="help__question-title h3--smallest">How does Banko premium works?</h3>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</div>
			<div class="help__question-block">
				<div class="help__question">
					<h3 class="help__question-title h3--smallest">Can I have two Banko accounts?</h3>
					<button class="help__question-button">
						<svg class="help__question-button-plus" width="14" height="15" viewBox="0 0 14 15">
							<use href="#plus"></use>
						</svg>
						<svg class="help__question-button-x" width="14" height="13" viewBox="0 0 14 13">
							<use href="#x"></use>
						</svg>
					</button>
				</div>
					<p class="help__question-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque penatibus et magnis dis parturient.</p>
			</div>
		</div>
	</div>
</section>