---
let { tagData } = Astro.props;
---

<ul role="list" aria-label="category list" class="tags-sidebar__list">
	<li class="tags-sidebar__list-item">
		<h5 class="tags-sidebar__title h7">Categories</h5>
	</li>
	{
		tagData.map((tag) => (
			<li class="tags-sidebar__list-item">
				<a href={`/blog/${tag.slug}`} class="tags-sidebar__link text-muted">
					{tag.name}
				</a>
			</li>
		))
	}
</ul>
