@use "sass:math";
@use "../../abstracts" as *;

.app__inner {
	display: flex;
	column-gap: 3.5rem;

	@include minw-mq(75em) {
		column-gap: 7.75rem;
	}
}

.app__text {
	max-width: 37.5rem;

	@include minw-mq(55em) {
		max-width: ratio(660%, 1200);
	}

	@include minw-mq(75em) {
		max-width: ratio(600%, 1200);
	}
}

.app__title {
	margin-bottom: 2rem;

	@include minw-mq(75em) {
		margin-bottom: 4rem;
	}
}

.app__feature {
	display: flex;
	flex-direction: column;
	place-items: center;
	background-position: top left;

	@include minw-mq(30em) {
		place-items: start;
	}
}

.app__feature-title {
	padding-top: 66px;
	margin-bottom: 1.1rem;
	text-align: center;
	background-position: top;

	@include minw-mq(30em) {
		margin-bottom: 0.5rem;
		text-align: left;
		background-position: top left;
	}
}

.app__feature-description {
	text-align: center;

	@include minw-mq(30em) {
		text-align: left;
	}
}
