@use "sass:math";
@use "../../abstracts" as *;

.app-banner {
	overflow: hidden;
}

.app-banner__inner {
	display: flex;
	align-items: end;
	// min-height: min(50%, 910px);
	background-color: var(--clr-primary-400);
	border-radius: 20px;
	column-gap: 3rem;
	overflow: hidden;

	& h2,
	p,
	li {
		color: var(--clr-neutral-0);
	}

	@include minw-mq(75em) {
		column-gap: 6.75rem;
	}
}

.app-banner__text {
	max-width: 32.75rem;
	padding: 2.5rem 1rem 2.5rem 2rem;

	@include minw-mq(75em) {
		max-width: ratio(600%, 1200);
	}

	@include minw-mq(75em) {
		padding: 6rem 0 6rem 4.75rem;
	}
}

.app-banner__features {
	margin-bottom: 1.5rem;

	@include minw-mq(75em) {
		margin-bottom: 3rem;
	}
}

.app-banner__links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem 1.0625rem;
}

.app-banner__image {
	max-width: ratio(380%, 1200);
	margin-top: auto;
	padding-right: 1.5rem;

	@include minw-mq(60em) {
		padding-right: 0;
	}
}
