@use "sass:math";
@use "../../abstracts" as *;

.app-section__inner {
		display: flex;
		align-items: center;
		column-gap: 5.5rem;
	
		@include minw-mq(75em) {
			column-gap: 10.625rem;
		}
}

.app-section__text {
	max-width: 33.75rem;

	@include minw-mq(55em) {
		max-width: ratio(660%, 1200);
	}

	@include minw-mq(75em) {
		max-width: ratio(540%, 1200);
	}
}

.app-section__tag {
	margin-bottom: .5rem;
}