<section class="features-intro">
	<div class="features-intro__text">
		<span class="features-intro__tag section__tag">Features</span>
		<h1 class="features-intro__title">All in one card.</h1>
		<p class="features-intro__description">Senectus et netus et malesuada fames ac turpis. 
			Sagittis vitae et leo duis ut diam.</p>
		<div class="features-intro__buttons">
			<a href="#" class="features-intro__button button button-primary">Open Account</a>
			<a href="/compare" class="features-intro__button link-primary link-primary--arrow">Compare Cards</a>
		</div>
	</div>
	<div class="features-intro__image">
		<img src="assets/images/features-intro-cards.png" alt="Intro Image" class="features-intro__picture">
	</div>
</section>