<section class="homepage-intro mt-0">
	<div class="homepage-intro__inner container">
		<div class="homepage-intro__text">
			<h1 class="homepage-intro__title">Banking starts here.</h1>
			<p class="homepage-intro__description section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
			<ul role="list" aria-label="intro feature list" class="homepage-intro__features section-features minw30-gtc-2-auto">
				<li class="homepage-intro__feature section-feature">Payments worldwide</li>
				<li class="homepage-intro__feature section-feature">Saving accounts</li>
				<li class="homepage-intro__feature section-feature">Instant Transfer</li>
				<li class="homepage-intro__feature section-feature">100% mobile banking</li>
			</ul>
			<div class="homepage-intro__buttons">
				<a href="#" class="homepage-intro__button button button-primary">Open Account</a>
				<a href="/compare" class="homepage-intro__button link-primary link-primary--arrow">Compare Cards</a>
			</div>
		</div>
		<div class="homepage-intro__image dn minw55-db">
			<img src="assets/images/homepage-intro-cards.png" alt="Intro Image" class="homepage-intro__picture">
		</div>
	</div>
</section>