@use "sass:math";
@use "../../abstracts" as *;

.money-transfering {
	background-color: var(--clr-primary-100);
	padding-block: 2rem;
	overflow: hidden;
}

.money-transfering__inner {
	display: flex;

	column-gap: 4rem;

	@include minw-mq(75em) {
		column-gap: 8.75rem;
	}
}

.money-transfering__text {
	max-width: 35rem;

	// @include minw-mq(30em) {
	// 	padding-top: 3rem;
	// }

	@include minw-mq(55em) {
		padding-top: 6rem;
		max-width: ratio(560%, 1200);
	}
}

.money-transfering__image {
	transform: translateY(60px);
}