@use "sass:math";
@use "../../abstracts" as *;

.testimonials__inner {
	overflow: hidden;
}

.testimonials__head {
	margin-bottom: 4rem;

	@include maxw-mq(75em) {
		margin-bottom: 2rem;
	}
}

.testimonials__rating {
	display: flex;
	align-items: center;
	min-height: 40px;
	margin-top: 1rem;
	padding-left: 3.5rem;
	background: url("/assets/images/rating-icon.svg") no-repeat center left;
}

.testimonials__rating-value {
	color: var(--clr-primary-400);
}

.testimonials__list {
	display: grid;
	transition: transform 700ms ease;
	
	@include maxw-mq(65em) {
		display: flex;
		cursor: grab;
		height: auto !important;
	}
}

.testimonials__list-item {
	display: flex;
	position: absolute !important;
	width: calc(math.div(100%, 3) - var(--sp-slider-gap));
	user-select: none;
	// will-change: transform;
	margin: 0 2rem 2rem 0;
	
	@include maxw-mq(65em) {
		position: static !important;
		padding-right: var(--sp-slider-gap);
		min-width: calc(50% + calc(var(--sp-slider-gap) / 2));
		width: auto;
		margin: 0;
	}
	
	@include maxw-mq(40em) {
		min-width: calc(100% + var(--sp-slider-gap));
	}
	
}

.grid-sizer {
	width: math.div(100%, 3);

	@include maxw-mq(65em) {
		display: none;
	}
}

.testimonial {
	display: flex;
	flex-direction: column;
}

.testimonial__rating {
	max-width: 116px;
}

.testimonial__author {
	margin: 0;

	@include maxw-mq(65em) {
		margin-top: auto;
	}
}

.testimonial__profession {
	font-size: 1rem;

	@include maxw-mq(55em) {
		font-size: .875rem;
	}
}

.testimonials__dots {
	display: none;
	
	@include maxw-mq(65em) {
		display: flex;
		justify-content: center;
		column-gap: .5rem;
		margin-top: 1rem;
	}
}

.testimonials__dot {
	display: none;
	width: 1rem;
	height: 1rem;
	border: 1px solid var(--clr-primary-400);
	border-radius: 100px;

	&--active {
		background-color: var(--clr-primary-400);
	}
}