@use "sass:math";
@use "../../abstracts" as *;

.testimonials__inner {
	overflow: hidden;
}

.testimonials__head {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 4rem;
	column-gap: 1rem;

	@include maxw-mq(40em) {
		display: block;
		margin-bottom: 2rem;
	}
}

.testimonials__title-block {
	width: 55%;

	@include maxw-mq(40em) {
		width: 100%;
	}
}

.testimonials__rating {
	display: flex;
	align-items: center;
	min-height: 40px;
	margin-top: 1rem;
	padding-left: 3.5rem;
	background: url("/assets/images/rating-icon.svg") no-repeat center left;
}

.testimonials__rating-value {
	color: var(--clr-primary-400);
}

.testimonials__list {
	@include maxw-mq(65em) {
		display: flex;
		height: auto !important;
		transition: transform 700ms ease;
	}
}

.testimonials__list-item {
	width: calc(33.333% - 21px);
	
	@include maxw-mq(65em) {
		display: flex;
		position: static !important;
		padding-right: var(--sp-slider-gap);
		min-width: calc(50% + calc(var(--sp-slider-gap) / 2));
		width: auto;
		user-select: none;
	}
	
	@include maxw-mq(40em) {
		min-width: calc(100% + var(--sp-slider-gap));
	}

	&:nth-child(-n+4) {
		margin-bottom: 2rem;

		@include maxw-mq(65em) {
			margin: 0;
		}
	}
	
}

.grid-sizer {
	width: calc(33.333% - 21px);

	@include maxw-mq(65em) {
		display: none;
	}
}

.testimonial {
	display: flex;
	flex-direction: column;
}

.testimonial__rating {
	max-width: 116px;
}

.testimonial__author {
	margin: 0;

	@include maxw-mq(65em) {
		margin-top: auto;
	}
}

.testimonial__profession {
	font-size: 1rem;

	@include maxw-mq(55em) {
		font-size: .875rem;
	}
}

.testimonials__dots {
	display: none;
	
	@include maxw-mq(65em) {
		display: flex;
		justify-content: center;
		column-gap: .5rem;
		margin-top: 1rem;
	}
}

.testimonials__dot {
	display: none;
	width: 1rem;
	height: 1rem;
	border: 1px solid var(--clr-primary-400);
	border-radius: 100px;

	&--active {
		background-color: var(--clr-primary-400);
	}
}