@use "sass:math";
@use "../abstracts" as *;

.header {
	position: relative;
	padding-top: 1.5rem;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__inner > .logo {
	display: none;

	@include maxw-mq(55em) {
		display: block;
	}
}

.header__nav {
	display: flex;
	width: 100%;
	align-items: center;

	@include maxw-mq(55em) {
		display: none;
		flex-direction: column;
		position: fixed;
		inset: 0;
		background-color: var(--clr-neutral-0);
		row-gap: 5.5rem;
		padding: 3.5rem 1.5rem;
		z-index: 1;
	}
}

.header__nav > .logo {
	flex: 1 0 25%;

	@include maxw-mq(55em) {
		display: none;
	}
}

.header__nav-pages {
	display: flex;
	flex: 1 0 30%;

	@include maxw-mq(55em) {
		flex: 0;
	}
}

.header__nav-auth {
	display: flex;
	justify-content: end;
	align-items: center;
	flex: 1 0 25%;
	margin-left: auto;
	column-gap: min(3vw, 2rem);

	@include maxw-mq(55em) {
		column-gap: 1rem;
	}

	@include maxw-mq(55em) {
		flex: 0;
		flex-direction: column;
		margin: 0;
		gap: 1.5rem 0;
	}
}

.header__nav-auth .login-link {
	font-weight: 700;

	@include maxw-mq(55em) {
		font-size: 1.75rem;
	}
}

.header__nav-auth .registration-link {
	font-size: 0.875rem;
	letter-spacing: 0;
	padding: 0.75rem 1rem;

	@include minw-mq(60em) {
		font-size: 0.9375rem;
	}

	@include maxw-mq(55em) {
		font-size: 1.4375rem;
		padding: 1rem 1.5rem;
	}
}

.header__list {
	display: flex;
	align-items: center;
	column-gap: 0;
	margin-inline: auto;

	@include minw-mq(60em) {
		column-gap: 0.75rem;
	}

	@include maxw-mq(55em) {
		flex-direction: column;
	}
}

.header__list-item {
	display: flex;

	@include minw-mq(55em) {
		&--compare:hover > .header__compare,
		.header__compare:hover {
			visibility: visible;
			opacity: 1;
		}

		&--blog:hover > .header__blog,
		.header__blog:hover {
			visibility: visible;
			opacity: 1;
		}
	}
}

.header__nav-link {
	&--page {
		line-height: 1.7;
		font-size: 0.9375rem;
		padding: 0.5rem 0.75rem;
		border-radius: 6px;
		transition: background-color 0.2s linear;

		&:hover {
			background-color: var(--clr-neutral-100);
		}

		@include minw-mq(60em) {
			font-size: 1rem;
		}

		@include maxw-mq(55em) {
			font-size: 1.5rem;
		}
	}
}

.header__mobile-menu {
	display: none;
	z-index: 1;

	@include maxw-mq(55em) {
		display: block;
	}
}

.header__hamburger,
.header__x {
	display: none;
}

.header__compare,
.header__blog {
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	background-color: var(--clr-neutral-100);
	padding-block: 3.5rem 2rem;
	transition: opacity 0.2s linear, visibility 0.2s linear;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		height: 1.5rem;
		width: 100%;
		background-color: var(--clr-neutral-0);
	}
}

.header__compare-inner,
.header__blog-inner {
	display: flex;
	justify-content: center;
}

.header__compare-inner {
	column-gap: 2rem;
}

.header__compare-inner .accounts-card-title {
	margin: 0;
}

.header__blog-inner {
	column-gap: 10.375rem;

	@include maxw-mq(65em) {
		column-gap: 3.375rem;
	}

	@include maxw-mq(55em) {
		column-gap: 2rem;
	}
}

.header__card {
	text-align: center;
}

.header__articles-title {
	margin-bottom: 2rem;

	@include maxw-mq(65em) {
		margin-bottom: 1.7rem;
	}
}

.header__articles-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 4rem;

	@include maxw-mq(60em) {
		column-gap: 0;
	}
}
