@use "sass:math";
@use "../abstracts" as *;

.header {
	position: relative;
	padding-block: 1.5rem;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	display: flex;
	flex-grow: 1;
	align-items: center;

	@include maxw-mq(45em) {
		display: none;
		flex-direction: column;
		position: fixed;
		inset: 0;
		background-color: var(--clr-neutral-0);
		row-gap: 5.5rem;
		padding: 3.5rem 4.5rem;
	}
}

.header__nav-pages {
	@include minw-mq(45em) {
		margin-left: auto;
	}
}

.header__nav-auth {
	column-gap: min(3vw, 2rem);
	margin-left: auto;

	@include maxw-mq(50em) {
		column-gap: 0;
	}

	@include maxw-mq(45em) {
		flex-direction: column;
		margin: 0;
		gap: 3rem 0;
	}
}

.header__list, .header__nav-auth {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header__list-item {
	display: flex;
}

.header__list {
	column-gap: 0;

	@include minw-mq(55em) {
		column-gap: .75rem;
	}

	@include maxw-mq(45em) {
		flex-direction: column;
	}
}

.header__nav-link {
	transition: background 0.2s linear;
	padding: .75em .75em;
	border-radius: 6px;

	&--page {
		line-height: 1.7;
		font-size: .9375rem;

		&:hover {
			background-color: var(--clr-neutral-100);
		}

		@include minw-mq(55em) {
			font-size: 1rem;
		}

		@include maxw-mq(45em) {
			font-size: 1.5rem;
		}
	}

	&--sign-in {
		&:hover {
			background-color: var(--clr-primary-100);
		}
		@include maxw-mq(45em) {
			font-size: 1.75rem;
		}
	}

	&--join {
		font-size: .875rem;

		&:hover {
			background-color: var(--clr-primary-500);
		}

		@include minw-mq(55em) {
			font-size: .9375rem;
		}

		@include maxw-mq(45em) {
			font-size: 1.4375rem;
		}
	}
}

.header__mobile-menu {
	display: none;
	z-index: 1;

	@include maxw-mq(45em) {
		display: block;
	}
}

.header__hamburger, .header__x {
	display: none;
}

.header__dropdown {
	position: absolute;
	background-color: var(--clr-neutral-100);
	width: 100%;
	margin-top: 1.5rem;
}

.header__compare {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
	padding-block: 2rem;
}

.header__compare-card {
	text-align: center;
}

.header__blog {
	display: none;
}

