@use "sass:math";
@use "../abstracts" as *;

.post {
	@include minw-mq(35em) {
		display: flex;
		column-gap: 2rem;
		margin-bottom: 1rem;
	}
	
	@include minw-mq(75em) {
		display: block;
		margin-bottom: 0;
	}
}

.post__image {
	margin-bottom: 2rem;

	@include minw-mq(35em) {
		width: 40%;
		margin-bottom: 0;
	}

	@include minw-mq(75em) {
		width: 100%;
		margin-bottom: 1.5rem;
	}
}

.post__image-picture {
	border-radius: 16px;
}

.post__text {
	display: flex;
	flex-direction: column;
	@include minw-mq(35em) {
		width: 60%;
	}

	@include minw-mq(75em) {
		width: 100%;
	}
}

.post__description {
	margin-block: .5rem 1.5rem;
}

.post__tags {
	display: flex;
	column-gap: .5rem;
	margin-top: auto;
}

.post__image {
	display: flex;
	justify-content: center;
}