---
const { account } = Astro.props;
---

<a href="/compare">
	<h4 class={"accounts-card-title dif tac h6 " + (account.popular ? 'popular-pseudo' : '')}>{account.title}</h4>
	<p class="accounts-link-description text-muted">{account.description.short}</p>
	<img src={account.imageURL} alt={`${account.title} Card`} loading="lazy" class="accounts-link-picture">
</a>