---
import CompareLink from "@components/compare/CompareLink.astro";
---

<section class="features-notifications">
	<div class="features-notifications__inner container">
		<div class="features-notifications__text">
			<span class="features-notifications__tag section-tag">Notifications</span>
			<h2 class="features-notifications__title h3">Stay notified</h2>
			<p class="features-notifications__description section-description section-description--small">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			<ul role="list" aria-label="notifications features list" class="features-notifications__features section-features section-features--small">
				<li class="features-notifications__feature section-feature section-feature--small">Malesuada Ipsum</li>
				<li class="features-notifications__feature section-feature section-feature--small">Vestibulum</li>
				<li class="features-notifications__feature section-feature section-feature--small">Parturient Lorem</li>
			</ul>
			<CompareLink/>
		</div>
		<div class="features-notifications__image dn minw55-db">
			<img src="assets/images/notifications-messages.png" srcset="assets/images/notifications-messages-2x.png 2x" loading="lazy" alt="Notifications" class="features-notifications__picture">
		</div>
	</div>
</section>