---
import RegistrationLink from "@components/registration/RegistrationLink.astro";
import CompareLink from "@components/compare/CompareLink.astro";
---

<section class="features-intro">
	<div class="features-intro__text">
		<span class="features-intro__tag section-tag">Features</span>
		<h1 class="features-intro__title">All in one card.</h1>
		<p class="features-intro__description section-description">Senectus et netus et malesuada fames ac turpis. <br/> Sagittis vitae et leo duis ut diam.</p>
		<div class="features-intro__buttons">
			<RegistrationLink/>
			<CompareLink/>
		</div>
	</div>
	<div class="features-intro__image">
		<img src="/assets/images/features-intro-cards.png" srcset="/assets/images/features-intro-cards-2x.png 2x" loading="lazy" alt="Intro Image" class="features-intro__picture">
	</div>
</section>