<section class="features-transactions">
	<div class="features-transactions__inner container">
		<div class="features-transactions__text">
			<h2 class="features-transactions__title h3">Send & receive money instantly</h2>
			<p class="features-transactions__description section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
			<ul role="list" aria-label="money transfering feature list" class="features-transactions__features section-features section-features--small">
				<li class="features-transactions__feature section-feature section-feature--primary">Malesuada Ipsum</li>
				<li class="features-transactions__feature section-feature section-feature--primary">Vestibulum</li>
				<li class="features-transactions__feature section-feature section-feature--primary">Parturient Lorem</li>
			</ul>
		</div>
		<div class="features-transactions__image dn minw55-db">
			<img src="assets/images/transactions-green.png" srcset="assets/images/transactions-green-2x.png 2x" alt="Transactions" class="features-transactions__picture">
		</div>
	</div>
</section>