---
import testimonials from "@data/testimonials";
import TestimonialsCard from "@components/testimonials/generic/TestimonialsCard.astro";
---

<section class="testimonials">
	<div class="testimonials__inner container">
		<div class="testimonials__head">
			<div class="testimonials__title-block">
				<span class="testimonials__tag section-tag section-tag--big-space">Testimonials</span>
				<h2 class="testimonials__title h3">People all over the world use banko.</h2>
			</div>
			<div class="testimonials__rating">
				<span class="testimonials__rating-text">Rated <span class="testimonials__rating-value">4.8/5</span> from over 1000 users</span>
			</div>
		</div>
		<div class="testimonials__wrapper swiper">
			<ul role="list" aria-label="testimonials list" class="testimonials__list swiper-wrapper">
				<div class="testimonials__grid-sizer"></div>
				{testimonials.map(testimonial => (
					<li id="slide" class="testimonials__list-item swiper-slide">
						<TestimonialsCard testimonial = {testimonial}/>
					</li>
				))}
			</ul>
			<div class="slider-dots swiper-pagination"></div>
		</div>
	</div>
</section>

<script>
	import Masonry from 'masonry-layout';
	import Swiper, {Pagination} from 'swiper';
	import 'swiper/css';

	const breakpoint = window.matchMedia('(min-width: 65em)');
	let swiper;

	const breakpointChecker = function() {
		if (breakpoint.matches === true) {
			if (swiper !== undefined) swiper.destroy(), enableMasonry();
			return window.onload = function() {
				enableMasonry();
			}	
		} else
		if (breakpoint.matches === false) { 
			return enableSwiper();
		}
	}

	const enableSwiper = function() {
		swiper = new Swiper('.testimonials__wrapper', {
			modules: [Pagination],
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
				bulletClass: 'slider-dot',
				bulletActiveClass: 'slider-dot--active'
			},
			spaceBetween: 32,
			breakpoints: {
				640: {
					slidesPerView: 2,
					slidesPerGroup: 2,
				},
			}
		});
	}

	const enableMasonry = function() {

			var grid = document.querySelector('.testimonials__list');

			var msnry = new Masonry( grid, {
				itemSelector: '.testimonials__list-item',
				columnWidth: '.testimonials__grid-sizer',
				percentPosition: true,
				horizontalOrder: true,
				gutter: 31
			});
	}

	breakpoint.addEventListener('change', breakpointChecker);
		
	breakpointChecker();
</script>