@use "sass:math";
@use "../../abstracts" as *;

.account-card-title {
	display: inline-flex;
	justify-content: center;
	margin-bottom: .7rem;

	@include minw-mq(75em) {
		margin-bottom: 1.5rem;
	}
}

.account-card-price-value {
	font-family: 'DM Sans';
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: -.03em;
	line-height: 1;
	color: var(--clr-neutral-900);
	margin-right: 4px;
}

// .account-card-image {
// 	display: flex;
// 	justify-content: center;
// }