@use "sass:math";
@use "../../abstracts" as *;

.accounts-choose__text {
	margin-bottom: 3rem;

	@include minw-mq(75em) {
		margin-bottom: 6rem;
	}
}

.accounts-choose__list {
	@include minw-mq(65em) {
		display: flex;
		gap: 3rem 4.125rem;
	}
}

.accounts-choose__list .swiper-slide {
	display: flex;

	@include minw-mq(65em) {
		flex-shrink: 1;
		width: auto;
	}
}

.accounts-choose__list-item {
	justify-content: center;
}
