---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import SpriteSVG from '../components/SpriteSVG.astro';

const { title } = Astro.props;
const { scriptsrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} scriptsrc={scriptsrc}></BaseHead>
	</head>
	<body>
		<SpriteSVG></SpriteSVG>
		<Header></Header>
		<slot></slot>
	</body>
</html>