---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SpriteSVG from '../components/SpriteSVG.astro';

const { title } = Astro.props;
const { scriptsrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} scriptsrc={scriptsrc}></BaseHead>
	</head>
	<body>
		<SpriteSVG></SpriteSVG>
		<Header></Header>
		<main class="main">
			<slot></slot>
		</main>
		<Footer></Footer>
		<script>
			import $ from 'jquery';
			import 'jquery-match-height';
			import 'masonry-layout';
			import toggleHeaderMenu from '../utilities/toggleHeaderMenu.js';
			import resizeAnimationStopper from '../utilities/resizeAnimationStopper.js';
			import slider from '../utilities/slider.js';
			
			$(function() {
				($('.header__article-link') as any).matchHeight();
				($('.app__feature') as any).matchHeight();
			});

			toggleHeaderMenu('.header__mobile-menu', '.header__nav', '.header__hamburger', '.header__x');
			resizeAnimationStopper('.link-primary', 'resize-animation-stopper');
			slider('.testimonials__wrapper', '.testimonials__list', '.testimonials__list-item', '.testimonials__dot', '.testimonials__inner', 'testimonials__dot--active');


		</script>
	</body>
</html>