---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SpriteSVG from '../components/SpriteSVG.astro';


const { title } = Astro.props;
const { scriptsrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} scriptsrc={scriptsrc}></BaseHead>
	</head>
	<body>
		<SpriteSVG></SpriteSVG>
		<Header></Header>
		<main class="main">
			<slot></slot>
		</main>
		<Footer></Footer>
		<script>
			import toggleHeaderMenu from '../utilities/toggleHeaderMenu.js';
			
			toggleHeaderMenu('.header__mobile-menu', '.header__nav', '.header__hamburger', '.header__x');
		</script>
	</body>
</html>