---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SpriteSVG from '../components/SpriteSVG.astro';

const { title } = Astro.props;
const { scriptsrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} scriptsrc={scriptsrc}></BaseHead>
	</head>
	<body>
		<SpriteSVG></SpriteSVG>
		<Header></Header>
		<main class="main">
			<slot></slot>
		</main>
		<Footer></Footer>
		<script src="../utilities/masonry.pkgd.js">
		</script>
		<script>
			import $ from 'jquery';
			import 'jquery-match-height';
			// import Masonry from 'masonry-layout';
			// import MagicGrid from 'magic-grid';
			import toggleHeaderMenu from '../utilities/toggleHeaderMenu.js';
			import resizeAnimationStopper from '../utilities/resizeAnimationStopper.js';
			import slider from '../utilities/slider.js';
			import toggleAnswer from '../utilities/toggleAnswer.js';
			import masonry from '../utilities/masonry.pkgd.js';
			
			$(function() {
				($('.header__article-link') as any).matchHeight();
				($('.app__feature') as any).matchHeight();
			});

			toggleHeaderMenu('.header__mobile-menu', '.header__nav', '.header__hamburger', '.header__x');
			resizeAnimationStopper('.link-primary', 'resize-animation-stopper');
			slider('.testimonials__wrapper', '.testimonials__list', '.testimonials__list-item', '.testimonials__dot', '.testimonials__inner', 'testimonials__dot--active');
			toggleAnswer('.help__faq-question-block','.help__question-button', '.help__question-answer', '.help__question-button-plus', '.help__question-button-x', 'help__question-answer--active');
			masonry();

			// let magicGrid = new MagicGrid({
			// 	container: ".testimonials__list",
			// 	static: true
			// });
			// magicGrid.listen();
		</script>
	</body>
</html>