---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SpriteSVG from '../components/SpriteSVG.astro';

const { title } = Astro.props;
const { scriptsrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Head title={title} scriptsrc={scriptsrc}></Head>
	</head>
	<body>
		<SpriteSVG></SpriteSVG>
		<Header></Header>
		<main class="main">
			<slot></slot>
		</main>
		<Footer></Footer>
		<script>
			import resizeAnimationStopper from '../utilities/resizeAnimationStopper.js';

			resizeAnimationStopper('.link-primary', 'resize-animation-stopper');
		</script>
	</body>
</html>