<div class="contacts-support-phone contact-card">
	<h4 class="contacts-support-phone__number contact-value h7">+49 176 123 456</h4>
	<span class="contacts-support-phone__description contact-description text-muted">Support Hotline</span>
</div>