<div class="contacts-support-phone contact-card phone-icon">
	<a href="tel:+49 176 123 456" class="contacts-support-phone__number contact-value">+49 176 123 456</a>
	<span class="contacts-support-phone__description contact-description text-muted">Support Hotline</span>
</div>
