<div class="contacts-support-email contact-card email-icon">
	<!-- <h4 class="contacts-support-email__address contact-value h7">help@banquee.com</h4> -->
	<a href="mailto:help@banquee.com" class="contacts-support-email__address contact-value h7">help@banquee.com</a>
	<span class="contacts-support-email__description contact-description text-muted">Support Email</span>
</div>
