<div class="contacts-support-email contact-card email-icon">
	<a href="mailto:help@banquee.com" class="contacts-support-email__address contact-value">help@banquee.com</a>
	<span class="contacts-support-email__description contact-description text-muted">Support Email</span>
</div>
