<div class="support-email contact-block">
	<h4 class="support-email-address contact-value h7">help@banquee.com</h4>
	<span class="support-email-description contact-description text-muted">Support Email</span>
</div>